body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; 
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    color: #000;
    margin-top: 100px;
}

h1 {
    font-size: 48px;
}

